body {
    font-family: 'Montserrat Variable', sans-serif;
}

.content-center {
    display: flex;
    justify-content: center;
}

.horizontal-divisor {
    width: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.simple-dropdown {
    max-width: 250px;
}