html {
    height: 100%;
}

body {
    font-family: 'Montserrat Variable', sans-serif;
    /* background:linear-gradient(135deg, #f1f1fb, #f1f1fb); */
    /* background:linear-gradient(135deg, #8CC6B0, #A6D5C1 ); */
    /* background:linear-gradient(135deg, #fef9c7, #fcf9d0); */
    background: url('../icons/tile_background_kinda_clear.png') repeat 0 0;

    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    height: 100%;
}

#app {
    height: 100vh;
  }


.content-center {
    display: flex;
    justify-content: center;
}

.horizontal-divisor {
    width: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.simple-dropdown {
    max-width: 250px;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #426e8a;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #30576f;
}